rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Any authenticated user can create/read/update their own profile
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /hours/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /reports/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /territories/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /returnVisits/{userId}/{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /meetings/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
